:root {
  --bg-primary: #5691c8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #a8c0ff, #3f2b96);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 320px;
  background-color: var(--bg-primary);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
}

.display {
  background-color: #eeeeee;
  border: none;
  color: black;
  padding: 20px;
  font-size: 2rem;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 60px;
  width: 100%;
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.btn {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #4338ca;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #6366f1;
}

.operator {
  background-color: #7c3aed;
}

.operator:hover {
  background-color: #a78bfa;
}

.equal {
  background-color: #10b981;
  grid-column: span 1;
}

.equal:hover {
  background-color: #34d399;
}

.zero {
  grid-column: span 2;
}
